In [5]:
import pandas as pd
import numpy as np
import urllib2
import json
from sklearn.metrics import mean_squared_error
from sklearn.metrics import make_scorer
import matplotlib.pyplot as plt
import re
%matplotlib inline

In [6]:
train = pd.read_csv('champ1_train.csv')
test = pd.read_csv('champ1_test.csv')
train_parced = pd.read_csv('train_parsed_1.csv')
# избавлено от разделителя между тысячами (т.н. французский пробел)

/home/ubuntu/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (11,19,21,22,29,34,35,36,37,39,40,42,44) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
train_parced.head(2)

,coordinates,desc,price,Арендаторы:,Вентиляция:,Ворота:,Вход:,Высота потолков:,Год постройки:,Девелопер:,...,Траволаторы:,Управляющая компания:,Участок:,Часы работы:,Эскалаторы:,Этаж:,Этажей в здании:,link,region,type
0,"44.890463,37.314005",ПРОДАЖА СОБСТВЕННОСТИ.Отель Паллада расположен...,"105000000,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,в собственности,NaN,NaN,NaN,4.0,http://anapa.cian.ru/sale/commercial/146947168/,4584,0
1,"44.883707,37.324497","Продается офисное помещение , площадью 48 кв.м...","3950000,0",NaN,NaN,NaN,общий с улицы,3 м,NaN,NaN,...,NaN,NaN,в собственности,NaN,NaN,1 из 6,NaN,http://anapa.cian.ru/sale/commercial/149153755/,4584,2

In [9]:
# take informative columns
train_parced = train_parced[['desc','coordinates','price','type','Общая площадь:', 'Площадь:',
       'Этаж:', 'Тип здания:', 'Состояние:',
       'Вход:', 'Высота потолков:', 'Этажей в здании:',
       'Отопление:', 'Вентиляция:', 'Кондиционирование:', 'Класс:', 'Парковка:', 'Линия домов:']]

In [10]:
# price
price = []
for i in train_parced.price:
    try:
        price.append(int(int(i.split(',')[0])/1000.0))
    except:
        price.append(-1)
train_parced['price'] = price

In [11]:
# floor
floor = []
total_floors = []
for i in train_parced['Этаж:'].astype(str):
    if i=='полуподвал':
        floor.append(0)
        total_floors.append(-1)
    elif i=='подвал':
        floor.append(-1)
        total_floors.append(-1)
    else:
        try:
            floor.append(int(i.split(' ')[0]))
            try:
                total_floors.append(int(i.split(' ')[2]))
            except:
                total_floors.append(-1)
        except:
            floor.append(-2)
            total_floors.append(-1)
train_parced['floor'] = floor
train_parced['total_floors'] = total_floors

In [12]:
# square
total_square = []
trade_square = []
for i in train_parced['Общая площадь:']:
    try:
        total_square.append(int(float(i.replace(',','.').split('м²')[0].replace(' ', ''))))
    except:
        total_square.append(-1)

for i in train_parced['Площадь:'].astype(str):
    if i.find('-') != -1:
        st = i.replace(',','.').split('м²')[0].replace(' ','')
        x1 = int(st.split('-')[0])
        x2 = int(st.split('-')[1])
        x = (x1 + x2)/2
        trade_square.append(x)
    else:
        try:
            trade_square.append(int(float(i.replace(',','.').split('м²')[0].replace(' ',''))))
        except:
            trade_square.append(-1)
train_parced['total_square'] = total_square
train_parced['trade_square'] = trade_square

In [13]:
# roof height

roof_height = []
for i in train_parced['Высота потолков:']:
    try:
        roof_height.append(float(i.replace(',','.').split('м')[0].replace(' ', '')))
    except:
        roof_height.append(-1)
train_parced['roof_height'] = roof_height
#train_parced[~train_parced['Этажей в здании:'].isnull()]

In [14]:
bf_s = [] # basement square
nf_s = [] # null floor square
ff_s = [] # first floor square
sf_s = [] # hight floor square
hf_s = []
ff_h = []
for n,i in enumerate(floor):
    if i==-1:
        bf_s.append(trade_square[n])
        nf_s.append(-1)
        ff_s.append(-1)
        sf_s.append(-1)
        hf_s.append(-1)
        ff_h.append(-1)
    elif i==0:
        bf_s.append(-1)
        nf_s.append(trade_square[n])
        ff_s.append(-1)
        sf_s.append(-1)
        hf_s.append(-1)
        ff_h.append(-1)
    elif i==1:
        bf_s.append(-1)
        nf_s.append(-1)
        ff_s.append(trade_square[n])
        sf_s.append(-1)
        hf_s.append(-1)
        ff_h.append(roof_height[n])
    elif i==2:
        bf_s.append(-1)
        nf_s.append(-1)
        ff_s.append(-1)
        sf_s.append(trade_square[n])
        hf_s.append(-1)
        ff_h.append(-1)
    elif i>2:
        bf_s.append(-1)
        nf_s.append(-1)
        ff_s.append(-1)
        sf_s.append(-1)
        hf_s.append(trade_square[n])
        ff_h.append(-1)
    else:
        bf_s.append(-1)
        nf_s.append(-1)
        ff_s.append(-1)
        sf_s.append(-1)
        hf_s.append(trade_square[n])
        ff_h.append(-1)
train_parced['bf_s'] = bf_s
train_parced['nf_s'] = nf_s
train_parced['ff_s'] = ff_s
train_parced['sf_s'] = sf_s
train_parced['hf_s'] = hf_s
train_parced['ff_s'] = ff_s

In [16]:
train_parced.head(2)

,desc,coordinates,price,type,Общая площадь:,Площадь:,Этаж:,Тип здания:,Состояние:,Вход:,...,floor,total_floors,total_square,trade_square,roof_height,bf_s,nf_s,ff_s,sf_s,hf_s
0,ПРОДАЖА СОБСТВЕННОСТИ.Отель Паллада расположен...,"44.890463,37.314005",105000,0,1 034 м²,NaN,NaN,свободное,NaN,NaN,...,-2,-1,1034,-1,-1.0,-1,-1,-1,-1,-1
1,"Продается офисное помещение , площадью 48 кв.м...","44.883707,37.324497",3950,2,48 м²,48 м²,1 из 6,торговый центр,дизайнерский ремонт,общий с улицы,...,1,6,48,48,3.0,-1,-1,48,-1,-1

In [ ]:
#test._IS_COM_.value_counts()

In [ ]:
#test._IS_VENT_.value_counts()

In [ ]:
#train_parced['Помещение:'].value_counts()

In [ ]:
#train_parced.columns

In [ ]:
#train_parced['Отопление:'].value_counts()

In [ ]:
#train_parced['Кондиционирование:'].value_counts()

In [ ]:
#train_parced['Вентиляция:'].value_counts()

In [ ]:
#train_parced

In [ ]:
#train = train[(train._PRICE_!='None')&(train._PRICE_!='Не указано')&(train._PRICE_!='Договорная')]
#train = train[train._AREA_!='None']

In [ ]:
#train['price'] = [int(i.split('РУБ.')[0].replace(' ','')) for i in train._PRICE_]
#train.price = train.price/1000
#train.price = train.price.astype(int)

In [ ]:
#train['area'] = [float(i.split('м')[0].replace(',','.')) for i in train._AREA_]

In [ ]:
def rmse(y, y_pred): 
    return mean_squared_error(y, y_pred)**0.5

In [ ]:
scorer = make_scorer(rmse, greater_is_better=False)

In [ ]:
def citystring(string):
    'make readable address string for geocoding'
    tstr = []
    for i in (string).split(','):
        for j in i.split(' '):
            if j!='':
                tstr.append(j)
    return '+'.join(tstr)

In [ ]:
# geocoding by service: geocode-maps.yandex.ru

def geocode(lat, lon):
    'Geocode by coordinates:\
    returns county, city, street of first result'
    # make request (for additional info https://tech.yandex.ru/maps/doc/geocoder/desc/concepts/input_params-docpage/)
    req = urllib2.Request('https://geocode-maps.yandex.ru/1.x/?format=json&geocode={0},{1}'.format(lon,lat))
    # get data from response
    response = urllib2.urlopen(t)
    page = response.read()
    j = json.loads(page)
    
    try:
        city = j['response']['GeoObjectCollection']['featureMember'][0]['GeoObject']['description'].encode('utf-8')
    except:
        city = 'no_city'
    
    try:
        street = j['response']['GeoObjectCollection']['featureMember'][0]['GeoObject']['name'].encode('utf-8')
    except:
        street = 'no_street'
    
    # return city, county, country and street
    return city, street
    

def reverse_geocode(string):
    'Reverse geocode by address:\
    returns latitude and longitude of first result'
    # make request (for additional info https://tech.yandex.ru/maps/doc/geocoder/desc/concepts/input_params-docpage/)
    string = str(string)
    req_str = citystring(string)
    req = urllib2.Request('https://geocode-maps.yandex.ru/1.x/?format=json&geocode={0}'.format(req_str))
    # get data from response
    try:
        response = urllib2.urlopen(req)
        page = response.read()
        j = json.loads(page)

        try:
            city = j['response']['GeoObjectCollection']['featureMember'][0]['GeoObject']['description'].encode('utf-8')
        except:
            city = 'no_city'

        try:
            street = j['response']['GeoObjectCollection']['featureMember'][0]['GeoObject']['name'].encode('utf-8')
        except:
            street = 'no_street'

        try:
            point = j['response']['GeoObjectCollection']['featureMember'][0]['GeoObject']['Point']['pos'].encode('utf-8')
        except:
            point = '0.0, 0.0'

        return city, street, point
    except:
        city = 'no_city'
        street = 'no_street'
        point = '0.0, 0.0'
        return city, street, point

In [ ]:
#test['cityadddr'] = test._CITY_ + ',' + test._ADRS_

In [ ]:
#cityes = []
#streets = []
#points = []

#for n,i in enumerate(list(test.cityadddr.values)):
#    if n%10 == 0:
#        print n, i
#    if n%500 == 0:
#        pd.DataFrame([cityes, streets, points]).transpose().to_csv(str(n)+'.csv',index=False)
#    city, street, point = reverse_geocode(i)
#    cityes.append(city)
#    streets.append(street)
#    points.append(point)

In [ ]:
#test['city'] = cityes
#test['street'] = streets
#test['points'] = points

In [ ]:
#test.to_csv('new_test.csv', index=False)

In [ ]:
test['lat'] = [float(i.replace(',','').split(' ')[1]) for i in test.points]
test['lon'] = [float(i.replace(',','').split(' ')[0]) for i in test.points]

In [ ]:
train_new = train[~train._LAT_.isnull()]

In [ ]:
train_new = train_new[train_new._LAT_!='None']

In [ ]:
train_new['lat'] = train_new._LAT_
train_new['lon'] = train_new._LON_

In [ ]:
test.shape

In [ ]:
test._F1_U_.value_counts()

In [ ]:
train._TYPE_.value_counts()

In [ ]:
typ = []
for i in test._F1_U_.values:
    if i=='0' or i=='-0':
        typ.append(0)
    elif i=='торговое':
        typ.append(1)
    elif i=='офисное':
        typ.append(2)
    elif i=='складское':
        typ.append(3)
    else:
        typ.append(-1)

In [ ]:
test['type'] = typ

In [ ]:
typ = []
for i in train._TYPE_.values:
    if i=='Другое' or i=='None' or i=='Отель':
        typ.append(0)
    elif i=='Магазин':
        typ.append(1)
    elif i=='Офис':
        typ.append(2)
    elif i=='Склад':
        typ.append(3)
    else:
        typ.append(-1)

In [ ]:
train['type'] = typ

In [ ]:
area = []
for i in test._TTL_S_.values:
    try:
        area.append(float(str(i).replace(',','.')))
    except:
        area.append(0)
test['area'] = area

In [ ]:
test.head()

In [ ]:
train.head()

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.cross_validation import cross_val_score

In [ ]:
score = []
for i in range(3,10,1):
    gb = GradientBoostingRegressor(n_estimators=1000, verbose=1, max_depth=i)
    score.append(cross_val_score(gb, train_new[['area','type','lat','lon']], train_new.price.values, cv=5, n_jobs=-1,scoring=scorer).mean())
    print(i, score)

In [ ]:
gb = GradientBoostingRegressor(n_estimators=1000, verbose=1, max_depth=5)
gb.fit(train[['area','type']], train.price.values)
vals = gb.predict(test[['area','type']])

In [ ]:
df = pd.DataFrame([],columns=['_ID_','_PRICE_'])

In [ ]:
df['_ID_'] = test._ID_.values
df['_PRICE_'] = vals

In [ ]:
df.to_csv('baseline_2.csv',index=False)