In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
train = pd.read_csv('champ1_train.csv')
test = pd.read_csv('champ1_test.csv')

In [4]:
train.shape, test.shape

((17587, 10), (5404, 31))

In [5]:
train.head()

,_ID_﻿,_TYPE_,_DATE_,_ADDRESS_,_PRICE_,_AREA_,_METRO,_LAT_,_LON_,_DESC_
0,46595,Офис,10/09/2016,"г.Чебоксары, ул.Ярославская, 76, Ленинский, Че...",1 100 000 РУБ.,"16,1м²",NaN,56.13138,47.24982,"Офис находится в административном здании, кото..."
1,45544,Производство,15/08/2016,"ул Автодромная, 21, Троицк, Челябинская область",4 200 000 РУБ.,600м²,NaN,54.0818634,61.5924759,Продам производственное помещение в районе Тро...
2,17472,Другое,26/08/2016,"ул Дальневосточная, 151, Октябрьский, Иркутск,...",3 400 000 РУБ.,55м²,NaN,52.2538872,104.3219,"ЖК Ангарские паруса, отличное помещение, с отд..."
3,33269,Другое,30/08/2016,"ул Ленина, 268в, Азов, Ростовская область",15 000 000 РУБ.,280м²,NaN,47.0912743,39.4440079,Продается здание под коммерческую деятельность...
4,21835,Офис,20/08/2016,"пр.Репина, Прикубанский, Краснодар, Краснодарс...",750 000 РУБ.,20м²,NaN,None,None,"цокольный этаж 16-ти эт. дома, квроремонт, спл..."

In [6]:
test.head()

,_ID_,_CITY_,_ADRS_,_OBJ_TYPE_,_TTL_S_,_F1_S_,_F1_U_,_FC_S_,_FC_U_,_F0_S_,...,_ROUND_,_FOOT_TRAF_,_IS_PRKNG_,_IS_WIN_,_IS_SEP_ENT_,_IS_VENT_,_DECOR_,_IS_COM_,_F1_H_,_DATE_
0,0,г. Санкт-Петербург,"1-я Красноармейская ул., д.8-10, лит.А",помещение,"184,7","184,7",торговое,0,NaN,0,...,жилая застройка,очень высокий,городская парковка,да,да,центральная вентиляция,рабочее состояние,все,"2,7",19.04.2016
1,1,г. Санкт-Петербург,"пр. Просвещения, д. 54, лит. А",помещение,"284,8","284,8",торговое,0,NaN,0,...,жилая застройка,низкий,нет,да,да,нет,рабочее состояние,все,"3/3,1/2,95",06.04.2016
2,2,г. Санкт-Петербург,"Кондратьевский, д. 51, корп. 1, лит. А",помещение,"59,6","59,6",торговое,0,NaN,0,...,жилая застройка,средний,нет,да,да,нет,рабочее состояние,все,"2,75",11.04.2016
3,3,г. Санкт-Петербург,"ул. Лизы Чайкиной, д. 17, лит. А",помещение,"186,1",90,торговое,0,NaN,"96,1",...,жилая застройка,средний,нет,да,да,нет,рабочее состояние,все,"1,65/3,65",11.04.2016
4,4,г. Санкт-Петербург,"ул. Лизы Чайкиной, д. 18, лит. А",помещение,"73,3","73,3",торговое,0,NaN,0,...,жилая застройка,средний,нет,нет,да,нет,рабочее состояние,все,4,11.04.2016

In [20]:
test[test.columns[4:17]].head()

,_TTL_S_,_F1_S_,_F1_U_,_FC_S_,_FC_U_,_F0_S_,_F0_U_,_FA_S_,_FA_U_,_F2_S_,_F2_U_,_F3_S_,_F3_U_
0,"184,7","184,7",торговое,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN
1,"284,8","284,8",торговое,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN
2,"59,6","59,6",торговое,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN
3,"186,1",90,торговое,0,NaN,"96,1",техническое,0,NaN,0,NaN,0,NaN
4,"73,3","73,3",торговое,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN

In [26]:
test[test._F1_U_.isnull()].shape, test[test._FC_U_.isnull()].shape, test[test._F0_U_.isnull()].shape, \
test[test._FA_U_.isnull()].shape, test[test._F2_U_.isnull()].shape, test[test._F3_U_.isnull()].shape

((1040, 31), (4377, 31), (4234, 31), (4601, 31), (4405, 31), (4693, 31))

In [8]:
for i in train._TYPE_.unique():
    print(i)

Офис
Производство
Другое
Магазин
Склад
None
Отель

In [10]:
train._TYPE_.value_counts()

Другое          7173
Магазин         4090
Офис            2513
Производство    2019
Склад            800
Отель            714
None             278
Name: _TYPE_, dtype: int64

In [27]:
test._F1_U_.value_counts()

торговое               2997
офисное                 931
складское               253
-0                      108
техническое              55
0                        17
торговое/складское        1
торговое, складское       1
торгово-офисное           1
Name: _F1_U_, dtype: int64

In [ ]:
for i in test._F1_U_.unique():
    print(i)

In [ ]:
np.sort(test._DATE_.unique())

In [ ]:
train[train._LAT_!='None'].to_csv('on_map.csv',index=False)

In [ ]:
print(train._DESC_[1])