In [2]:
import pandas as pd
import matplotlib
import numpy as np
%matplotlib inline

In [18]:
df = pd.read_csv('gender_age_train.csv')

In [19]:
df1 = pd.read_csv('gender_age_test.csv')

In [20]:
df.head()

             device_id gender  age   group
0 -8076087639492063270      M   35  M32-38
1 -2897161552818060146      M   35  M32-38
2 -8260683887967679142      M   35  M32-38
3 -4938849341048082022      M   30  M29-31
4   245133531816851882      M   30  M29-31

In [10]:
df['share'] = df['device_id']/len(df)

In [21]:
df1['share'] = df['device_id']/len(df1)

In [22]:
df1.head()

             device_id         share
0  1002079943728939269 -7.206224e+13
1 -1547860181818787117 -2.585113e+13
2  7374582448058474277 -7.370938e+13
3 -6220210354783429585 -4.406893e+13
4 -5893464122623104785  2.187306e+12

In [23]:
df.head()

             device_id gender  age   group
0 -8076087639492063270      M   35  M32-38
1 -2897161552818060146      M   35  M32-38
2 -8260683887967679142      M   35  M32-38
3 -4938849341048082022      M   30  M29-31
4   245133531816851882      M   30  M29-31