In [1]:
import pandas as pd
import numpy as np
import urllib2
import json
from sklearn.metrics import mean_squared_error
from sklearn.metrics import make_scorer
import matplotlib.pyplot as plt
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.cross_validation import cross_val_score
%matplotlib inline

/home/ubuntu/anaconda/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
train = pd.read_csv('champ1_train.csv')
test = pd.read_csv('new_test.csv')
train_parced = pd.read_csv('train_parsed_1.csv')
# избавлено от разделителя между тысячами (т.н. французский пробел)

/home/ubuntu/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (11,19,21,22,29,34,35,36,37,39,40,42,44) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
train_parced.head(2)

,coordinates,desc,price,Арендаторы:,Вентиляция:,Ворота:,Вход:,Высота потолков:,Год постройки:,Девелопер:,...,Траволаторы:,Управляющая компания:,Участок:,Часы работы:,Эскалаторы:,Этаж:,Этажей в здании:,link,region,type
0,"44.890463,37.314005",ПРОДАЖА СОБСТВЕННОСТИ.Отель Паллада расположен...,"105000000,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,в собственности,NaN,NaN,NaN,4.0,http://anapa.cian.ru/sale/commercial/146947168/,4584,0
1,"44.883707,37.324497","Продается офисное помещение , площадью 48 кв.м...","3950000,0",NaN,NaN,NaN,общий с улицы,3 м,NaN,NaN,...,NaN,NaN,в собственности,NaN,NaN,1 из 6,NaN,http://anapa.cian.ru/sale/commercial/149153755/,4584,2

In [4]:
test.head(2)

,_ID_,_CITY_,_ADRS_,_OBJ_TYPE_,_TTL_S_,_F1_S_,_F1_U_,_FC_S_,_FC_U_,_F0_S_,...,_DECOR_,_IS_COM_,_F1_H_,_DATE_,cityadddr,type,area,city,street,points
0,0,г. Санкт-Петербург,"1-я Красноармейская ул., д.8-10, лит.А",помещение,"184,7","184,7",торговое,0,NaN,0,...,рабочее состояние,все,"2,7",19.04.2016,"г. Санкт-Петербург, 1-я Красноармейская ул., д...",1,184.7,"Санкт-Петербург, Россия","1-я Красноармейская улица, 8-10",30.314754 59.915896
1,1,г. Санкт-Петербург,"пр. Просвещения, д. 54, лит. А",помещение,"284,8","284,8",торговое,0,NaN,0,...,рабочее состояние,все,"3/3,1/2,95",06.04.2016,"г. Санкт-Петербург,пр. Просвещения, д. 54, лит. А",1,284.8,"Санкт-Петербург, Россия","проспект Просвещения, 54А",30.361017 60.04782

In [5]:
#test

In [6]:
# take informative columns
train_parced = train_parced[['desc','coordinates','price','type','Общая площадь:', 'Площадь:',
       'Этаж:', 'Тип здания:', 'Состояние:',
       'Вход:', 'Высота потолков:', 'Этажей в здании:',
       'Отопление:', 'Вентиляция:', 'Кондиционирование:', 'Класс:', 'Парковка:', 'Линия домов:']]

In [7]:
# price
price = []
for i in train_parced.price:
    try:
        price.append(int(int(i.split(',')[0])/1000.0))
    except:
        price.append(-1)
train_parced['price'] = price

In [8]:
# floor
floor = []
total_floors = []
for i in train_parced['Этаж:'].astype(str):
    if i=='полуподвал':
        floor.append(0)
        total_floors.append(-1)
    elif i=='подвал':
        floor.append(-1)
        total_floors.append(-1)
    else:
        try:
            floor.append(int(i.split(' ')[0]))
            try:
                total_floors.append(int(i.split(' ')[2]))
            except:
                total_floors.append(-1)
        except:
            floor.append(-2)
            total_floors.append(-1)
train_parced['floor'] = floor
train_parced['total_floors'] = total_floors

In [9]:
# square
total_square = []
trade_square = []
for i in train_parced['Общая площадь:']:
    try:
        total_square.append(int(float(i.replace(',','.').split('м²')[0].replace(' ', ''))))
    except:
        total_square.append(-1)

for i in train_parced['Площадь:'].astype(str):
    if i.find('-') != -1:
        st = i.replace(',','.').split('м²')[0].replace(' ','')
        x1 = int(st.split('-')[0])
        x2 = int(st.split('-')[1])
        x = (x1 + x2)/2
        trade_square.append(x)
    else:
        try:
            trade_square.append(int(float(i.replace(',','.').split('м²')[0].replace(' ',''))))
        except:
            trade_square.append(-1)
train_parced['total_square'] = total_square
train_parced['trade_square'] = trade_square

In [10]:
# roof height

roof_height = []
for i in train_parced['Высота потолков:']:
    try:
        roof_height.append(float(i.replace(',','.').split('м')[0].replace(' ', '')))
    except:
        roof_height.append(-1)
train_parced['roof_height'] = roof_height
#train_parced[~train_parced['Этажей в здании:'].isnull()]

In [11]:
bf_s = [] # basement square
nf_s = [] # null floor square
ff_s = [] # first floor square
sf_s = [] # hight floor square
hf_s = []
ff_h = []
for n,i in enumerate(floor):
    if i==-1:
        bf_s.append(trade_square[n])
        nf_s.append(0)
        ff_s.append(0)
        sf_s.append(0)
        hf_s.append(0)
        ff_h.append(-1)
    elif i==0:
        bf_s.append(0)
        nf_s.append(trade_square[n])
        ff_s.append(0)
        sf_s.append(0)
        hf_s.append(0)
        ff_h.append(0)
    elif i==1:
        bf_s.append(0)
        nf_s.append(0)
        ff_s.append(trade_square[n])
        sf_s.append(0)
        hf_s.append(0)
        ff_h.append(roof_height[n])
    elif i==2:
        bf_s.append(0)
        nf_s.append(0)
        ff_s.append(0)
        sf_s.append(trade_square[n])
        hf_s.append(0)
        ff_h.append(0)
    elif i>2:
        bf_s.append(0)
        nf_s.append(0)
        ff_s.append(0)
        sf_s.append(0)
        hf_s.append(trade_square[n])
        ff_h.append(0)
    else:
        bf_s.append(0)
        nf_s.append(0)
        ff_s.append(0)
        sf_s.append(0)
        hf_s.append(trade_square[n])
        ff_h.append(0)
train_parced['bf_s'] = bf_s
train_parced['nf_s'] = nf_s
train_parced['ff_s'] = ff_s
train_parced['sf_s'] = sf_s
train_parced['hf_s'] = hf_s
train_parced['ff_h'] = ff_h

In [12]:
train_parced.head(2)

,desc,coordinates,price,type,Общая площадь:,Площадь:,Этаж:,Тип здания:,Состояние:,Вход:,...,floor,total_floors,total_square,trade_square,roof_height,bf_s,nf_s,ff_s,sf_s,hf_s
0,ПРОДАЖА СОБСТВЕННОСТИ.Отель Паллада расположен...,"44.890463,37.314005",105000,0,1 034 м²,NaN,NaN,свободное,NaN,NaN,...,-2,-1,1034,-1,-1.0,0,0,0,0,-1
1,"Продается офисное помещение , площадью 48 кв.м...","44.883707,37.324497",3950,2,48 м²,48 м²,1 из 6,торговый центр,дизайнерский ремонт,общий с улицы,...,1,6,48,48,3.0,0,0,48,0,0

In [13]:
train_parced.columns

Index([u'desc', u'coordinates', u'price', u'type', u'Общая площадь:',
       u'Площадь:', u'Этаж:', u'Тип здания:', u'Состояние:', u'Вход:',
       u'Высота потолков:', u'Этажей в здании:', u'Отопление:', u'Вентиляция:',
       u'Кондиционирование:', u'Класс:', u'Парковка:', u'Линия домов:',
       u'floor', u'total_floors', u'total_square', u'trade_square',
       u'roof_height', u'bf_s', u'nf_s', u'ff_s', u'sf_s', u'hf_s'],
      dtype='object')

In [14]:
def rmse(y, y_pred): 
    return mean_squared_error(y, y_pred)**0.5

In [15]:
scorer = make_scorer(rmse, greater_is_better=False)

In [16]:
train_parced['x'] = [float(i.split(',')[0]) for i in train_parced.coordinates]
train_parced['y'] = [float(i.split(',')[1]) for i in train_parced.coordinates]

In [68]:
score = []
for i in range(3,5,1):
    gb = GradientBoostingRegressor(n_estimators=150, verbose=0, max_depth=i)
    score.append(cross_val_score(gb, train_parced[['x','y','type','total_square','trade_square','roof_height',
                                'bf_s','nf_s','ff_s','sf_s','hf_s']], np.log(train_parced.price+0.01), cv=5, n_jobs=-1,scoring=scorer).mean())
    print(i, score)

(3, [-0.93825487284963904])
(4, [-0.93825487284963904, -0.95598913230618687])

In [18]:
test.columns

Index([u'_ID_', u'_CITY_', u'_ADRS_', u'_OBJ_TYPE_', u'_TTL_S_', u'_F1_S_',
       u'_F1_U_', u'_FC_S_', u'_FC_U_', u'_F0_S_', u'_F0_U_', u'_FA_S_',
       u'_FA_U_', u'_F2_S_', u'_F2_U_', u'_F3_S_', u'_F3_U_', u'_AREA_',
       u'_CHARACT_', u'_LINE_', u'_METRO_', u'_ROUND_', u'_FOOT_TRAF_',
       u'_IS_PRKNG_', u'_IS_WIN_', u'_IS_SEP_ENT_', u'_IS_VENT_', u'_DECOR_',
       u'_IS_COM_', u'_F1_H_', u'_DATE_', u'cityadddr', u'type', u'area',
       u'city', u'street', u'points'],
      dtype='object')

In [25]:
test['x'] = [float(i.split(' ')[0].replace(',','')) for i in test.points]
test['y'] = [float(i.split(' ')[1].replace(',','')) for i in test.points]

In [31]:
f1_s = []
for i in test['_F1_S_'].astype(str):
    if i==0 or i=='-0' or i=='н/д' or i=='нет':
        f1_s.append(0)
    else:
        f1_s.append(float(i.replace(',','.')))
test['ff_s'] = f1_s

In [34]:
fc_s = []
for i in test['_F1_S_'].astype(str):
    if i=='0' or i=='-0' or i=='не указано' or i=='нет' or i=='Не указано' or i=='--' or i=='н/д':
        fc_s.append(0)
    else:
        fc_s.append(float(i.replace(',','.')))
test['nf_s'] = fc_s

In [48]:
fb_s = []
for i in test['_FC_S_'].astype(str):
    if i=='0' or i=='-0' or i=='не указано' or i=='нет' or i=='Не указано' or i=='--' or i=='н/д' or i=='#ССЫЛ!' or i=='торговое':
        fb_s.append(0)
    else:
        fb_s.append(float(i.replace(',','.')))
test['bf_s'] = fb_s

In [49]:
fb_s = []
for i in test['_F0_S_'].astype(str):
    if i=='0' or i=='-0' or i=='не указано' or i=='нет' or i=='Не указано' or i=='--' or i=='н/д' or i==' ' or i=='нет данных':
        fb_s.append(0)
    else:
        fb_s.append(float(i.replace(',','.')))
test['sf_s'] = fb_s

In [40]:
fh_s = []
for i in test['_F2_S_'].astype(str):
    if i=='0' or i=='-0' or i=='не указано' or i=='нет' or i=='Не указано' or i=='--' or i=='н/д' or i=='офисное':
        fh_s.append(0)
    else:
        fh_s.append(float(i.replace(',','.')))
test['hf_s'] = fh_s

In [54]:
test_pred = test[['area','x','y','ff_s','nf_s','bf_s','sf_s','hf_s']]

In [56]:
test_pred.fillna(0,inplace=True)

In [59]:
test_pred.rename(columns={'area':'total_square'},inplace=True)

/home/ubuntu/anaconda/lib/python2.7/site-packages/pandas/core/frame.py:2816: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

In [62]:
gb = GradientBoostingRegressor(n_estimators=150, verbose=0, max_depth=4)
gb.fit(train_parced[['x','y','total_square','bf_s','nf_s','ff_s','sf_s','hf_s']], np.log(train_parced.price+0.01))
vals = gb.predict(test_pred)

In [63]:
df = pd.DataFrame([],columns=['_ID_','_PRICE_'])

In [66]:
df['_ID_'] = test._ID_.values
df['_PRICE_'] = np.exp(vals)

In [67]:
df.to_csv('baseline_3.csv',index=False)

In [ ]:
########

In [ ]:
#test = test[['_TTL_S_','_F1_S_','_FC_S_','_F0_S_','_FA_S_','_F2_S_','_F3_S_','_F1_H_']]

In [ ]:
def citystring(string):
    'make readable address string for geocoding'
    tstr = []
    for i in (string).split(','):
        for j in i.split(' '):
            if j!='':
                tstr.append(j)
    return '+'.join(tstr)

In [ ]:
# geocoding by service: geocode-maps.yandex.ru

def geocode(lat, lon):
    'Geocode by coordinates:\
    returns county, city, street of first result'
    # make request (for additional info https://tech.yandex.ru/maps/doc/geocoder/desc/concepts/input_params-docpage/)
    req = urllib2.Request('https://geocode-maps.yandex.ru/1.x/?format=json&geocode={0},{1}'.format(lon,lat))
    # get data from response
    response = urllib2.urlopen(t)
    page = response.read()
    j = json.loads(page)
    
    try:
        city = j['response']['GeoObjectCollection']['featureMember'][0]['GeoObject']['description'].encode('utf-8')
    except:
        city = 'no_city'
    
    try:
        street = j['response']['GeoObjectCollection']['featureMember'][0]['GeoObject']['name'].encode('utf-8')
    except:
        street = 'no_street'
    
    # return city, county, country and street
    return city, street
    

def reverse_geocode(string):
    'Reverse geocode by address:\
    returns latitude and longitude of first result'
    # make request (for additional info https://tech.yandex.ru/maps/doc/geocoder/desc/concepts/input_params-docpage/)
    string = str(string)
    req_str = citystring(string)
    req = urllib2.Request('https://geocode-maps.yandex.ru/1.x/?format=json&geocode={0}'.format(req_str))
    # get data from response
    try:
        response = urllib2.urlopen(req)
        page = response.read()
        j = json.loads(page)

        try:
            city = j['response']['GeoObjectCollection']['featureMember'][0]['GeoObject']['description'].encode('utf-8')
        except:
            city = 'no_city'

        try:
            street = j['response']['GeoObjectCollection']['featureMember'][0]['GeoObject']['name'].encode('utf-8')
        except:
            street = 'no_street'

        try:
            point = j['response']['GeoObjectCollection']['featureMember'][0]['GeoObject']['Point']['pos'].encode('utf-8')
        except:
            point = '0.0, 0.0'

        return city, street, point
    except:
        city = 'no_city'
        street = 'no_street'
        point = '0.0, 0.0'
        return city, street, point

In [ ]:
#test.to_csv('new_test.csv', index=False)

In [ ]:
test['lat'] = [float(i.replace(',','').split(' ')[1]) for i in test.points]
test['lon'] = [float(i.replace(',','').split(' ')[0]) for i in test.points]

In [ ]:
train_new = train[~train._LAT_.isnull()]

In [ ]:
train_new = train_new[train_new._LAT_!='None']

In [ ]:
train_new['lat'] = train_new._LAT_
train_new['lon'] = train_new._LON_

In [ ]:
test.shape

In [ ]:
test._F1_U_.value_counts()

In [ ]:
train._TYPE_.value_counts()

In [ ]:
typ = []
for i in test._F1_U_.values:
    if i=='0' or i=='-0':
        typ.append(0)
    elif i=='торговое':
        typ.append(1)
    elif i=='офисное':
        typ.append(2)
    elif i=='складское':
        typ.append(3)
    else:
        typ.append(-1)

In [ ]:
test['type'] = typ

In [ ]:
typ = []
for i in train._TYPE_.values:
    if i=='Другое' or i=='None' or i=='Отель':
        typ.append(0)
    elif i=='Магазин':
        typ.append(1)
    elif i=='Офис':
        typ.append(2)
    elif i=='Склад':
        typ.append(3)
    else:
        typ.append(-1)

In [ ]:
train['type'] = typ

In [ ]:
area = []
for i in test._TTL_S_.values:
    try:
        area.append(float(str(i).replace(',','.')))
    except:
        area.append(0)
test['area'] = area

In [ ]:
test.head()

In [ ]:
train.head()

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.cross_validation import cross_val_score

In [ ]:
score = []
for i in range(3,10,1):
    gb = GradientBoostingRegressor(n_estimators=1000, verbose=1, max_depth=i)
    score.append(cross_val_score(gb, train_new[['area','type','lat','lon']], train_new.price.values, cv=5, n_jobs=-1,scoring=scorer).mean())
    print(i, score)

In [ ]:
gb = GradientBoostingRegressor(n_estimators=1000, verbose=1, max_depth=5)
gb.fit(train[['area','type']], train.price.values)
vals = gb.predict(test[['area','type']])

In [ ]:
df = pd.DataFrame([],columns=['_ID_','_PRICE_'])

In [ ]:
df['_ID_'] = test._ID_.values
df['_PRICE_'] = vals

In [ ]:
df.to_csv('baseline_2.csv',index=False)