In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import scipy.stats as ss
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
train.head()

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,loss
0,1,A,B,A,B,A,A,A,A,B,...,0.718367,0.335060,0.30260,0.67135,0.83510,0.569745,0.594646,0.822493,0.714843,2213.18
1,2,A,B,A,A,A,A,A,A,B,...,0.438917,0.436585,0.60087,0.35127,0.43919,0.338312,0.366307,0.611431,0.304496,1283.60
2,5,A,B,A,A,B,A,A,A,B,...,0.289648,0.315545,0.27320,0.26076,0.32446,0.381398,0.373424,0.195709,0.774425,3005.09
3,10,B,B,A,B,A,A,A,A,B,...,0.440945,0.391128,0.31796,0.32128,0.44467,0.327915,0.321570,0.605077,0.602642,939.85
4,11,A,B,A,B,A,A,A,A,B,...,0.178193,0.247408,0.24564,0.22089,0.21230,0.204687,0.202213,0.246011,0.432606,2763.85

In [4]:
test.head()

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14
0,4,A,B,A,A,A,A,A,A,B,...,0.281143,0.466591,0.317681,0.61229,0.34365,0.38016,0.377724,0.369858,0.704052,0.392562
1,6,A,B,A,B,A,A,A,A,B,...,0.836443,0.482425,0.443760,0.71330,0.51890,0.60401,0.689039,0.675759,0.453468,0.208045
2,9,A,B,A,B,B,A,B,A,B,...,0.718531,0.212308,0.325779,0.29758,0.34365,0.30529,0.245410,0.241676,0.258586,0.297232
3,12,A,A,A,A,B,A,A,A,A,...,0.397069,0.369930,0.342355,0.40028,0.33237,0.31480,0.348867,0.341872,0.592264,0.555955
4,15,B,A,A,A,A,B,A,A,A,...,0.302678,0.398862,0.391833,0.23688,0.43731,0.50556,0.359572,0.352251,0.301535,0.825823

In [5]:
train.shape

(188318, 132)

In [6]:
train[train.loss>10000].shape

(5880, 132)

In [7]:
train[train.loss<1000].shape

(33997, 132)

In [ ]:
for k in range(3,10):
    ind = [i for i in train.index if i%k==0 ]
    print train[(train.index.isin(ind))].loss.std()/\
    (train[(train.index.isin(ind))].loss.median() - train[(train.index.isin(ind))].loss.mean())

In [23]:
#step = (train.index.max())/100
step_back = 0
step_forward = step

while step_forward < train.index.max():
    print step_back, step_forward, \
    train[(train.index<=step_forward)&(train.index>=step_back)].loss.std()/\
    (train[(train.index<=step_forward)&(train.index>=step_back)].loss.median() - train[(train.index<=step_forward)&(train.index>=step_back)].loss.mean())
    step_back += step
    step_forward += step

0 1883 -3.02919947196
1883 3766 -3.1306789328
3766 5649 -3.17453528494
5649 7532 -2.95033123552
7532 9415 -3.06453621263
9415 11298 -3.36284020901
11298 13181 -3.12523312156
13181 15064 -3.34504419746
15064 16947 -3.39025680868
16947 18830 -2.95372661575
18830 20713 -3.16691541383
20713 22596 -3.14790807787
22596 24479 -3.03516970149
24479 26362 -3.31844979441
26362 28245 -3.02259377887
28245 30128 -3.01235222111
30128 32011 -3.2472972565
32011 33894 -3.14188844676
33894 35777 -3.06811037454
35777 37660 -3.00463064997
37660 39543 -3.01510184442
39543 41426 -3.22331342903
41426 43309 -3.15492288088
43309 45192 -3.33186631817
45192 47075 -2.98642768107
47075 48958 -3.22674367921
48958 50841 -2.99101924879
50841 52724 -3.07221101895
52724 54607 -4.2220078414
54607 56490 -3.14158929692
56490 58373 -3.02681528143
58373 60256 -3.02035171668
60256 62139 -3.04114276251
62139 64022 -3.13078028973
64022 65905 -3.15299610945
65905 67788 -3.03299451673
67788 69671 -3.18200340339
69671 71554 -2.8537816228
71554 73437 -3.17152349498
73437 75320 -3.21360326517
75320 77203 -3.19347156202
77203 79086 -3.15605801141
79086 80969 -3.14301590651
80969 82852 -3.34062967546
82852 84735 -3.90990937061
84735 86618 -3.12661890798
86618 88501 -3.05686543805
88501 90384 -3.09885535988
90384 92267 -3.15085515955
92267 94150 -3.32904528874
94150 96033 -3.07449004343
96033 97916 -3.22150305994
97916 99799 -3.04694196373
99799 101682 -3.16588258328
101682 103565 -3.15101253996
103565 105448 -3.24315388824
105448 107331 -2.91913101301
107331 109214 -3.18928349344
109214 111097 -2.98795839966
111097 112980 -3.18593218603
112980 114863 -3.1719317664
114863 116746 -3.11596720655
116746 118629 -2.99278944634
118629 120512 -3.29363515712
120512 122395 -3.63380532368
122395 124278 -3.03928218231
124278 126161 -3.47405920004
126161 128044 -2.96688928841
128044 129927 -3.02493222745
129927 131810 -3.15267843568
131810 133693 -2.97854168528
133693 135576 -3.11351522546
135576 137459 -3.05090952357
137459 139342 -3.10613813252
139342 141225 -3.21082390728
141225 143108 -3.09514420661
143108 144991 -3.02113298691
144991 146874 -3.04672762983
146874 148757 -3.26990976117
148757 150640 -3.15318731236
150640 152523 -3.11697766311
152523 154406 -3.13654034869
154406 156289 -3.18164127037
156289 158172 -3.20573142363
158172 160055 -3.21775756749
160055 161938 -3.15676467176
161938 163821 -3.00041653411
163821 165704 -2.94614665003
165704 167587 -3.13665113487
167587 169470 -2.94796899375
169470 171353 -3.14443855801
171353 173236 -3.50522911622
173236 175119 -2.93960344374
175119 177002 -3.1919264349
177002 178885 -3.11206263167
178885 180768 -3.12130167205
180768 182651 -3.11167082011
182651 184534 -2.92183762151
184534 186417 -3.05968211469
186417 188300 -3.14567582965

In [9]:
test.shape

(125546, 131)

In [10]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188318 entries, 0 to 188317
Columns: 132 entries, id to loss
dtypes: float64(15), int64(1), object(116)
memory usage: 189.7+ MB

In [ ]:
plt.plot(train.loss.values)

In [ ]:
plt.plot(np.log(train.loss.values))

In [ ]:
plt.plot(np.log(train.loss.values/train.id))

In [ ]:
plt.plot(np.log(train[train.id<50000].loss.values/train[train.id<50000].id))

In [ ]:
train.loss.min(), train.loss.max(), train.loss.quantile(0.25), train.loss.quantile(0.75)

In [ ]:
train.loss.quantile(0.05), train.loss.quantile(0.95)

In [ ]:
for col in train.columns:
    print col, len(train[col].unique())

In [ ]:
corr = train.corr()
sns.heatmap(corr, 
            xticklabels=corr.columns.values,
            yticklabels=corr.columns.values)